
/*  文章首页样式 */
.news_txt{text-align:left;width:882px; margin:0; padding:0; float:right; }
.news_txt_l{ text-align:left;width:430px;  padding:0; float:left; background-color:#ffffff;border: 1px solid #ddd; height:408px; margin:0px 0 10px 0;}
.news_txt_r{text-align:left;width:430px;  padding:0; float:right; background-color:#ffffff;border: 1px solid #ddd;height:408px;margin:0px 0 10px 0;}
.news_txt h3{ font-size:14px; font-weight:bold; color:#ff6699; float:left; margin:10px 0 0 15px;display:inline;}
.news_txt .new_txt_more{ float:right;margin:10px 15px 0 0; display:inline;}
.news_txt ul{ clear:both;  display:inline;}
.news_txt ul li{ width:400px;
margin:0 10px 0 15px;
	float:left;
	height:35px;
	line-height:35px;font-size:14px; 
	display:inline;
	background-image:url(../images/news_back.gif);
	background-repeat:no-repeat;
	overflow:hidden;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E3E3E3;
	}
.news_txt li a{ margin:0 0 0 10px;float:left; width:320px; overflow:hidden;}
.news_txt li span { float:right;margin:0px 5px 0 0;  color:#006600;}
.news_txt .news_txt_bt{ height:30px; width:420px; background:#f2f2f2; margin:0 0 10px 0; font-family:"微软雅黑";padding:5px}


#kong10px{  width:298px; margin:10px 0 0 0; clear:both; padding:0;}

/*  文章列表样式 */

.news_list{ background-color:#ffffff;border: 1px solid #ddd; width:885px;float:right; overflow:auto;}
.news_list_bt{
	margin:30px 0 10px 15px;
	font-size:14px;color:#ff6699;
	font-weight:bold;
	width:855px;
	height:35px;
	line-height:35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E3E3E3;
}
.news_list ul{ clear:both;  display:inline; margin:0 0 20px 0;}
.news_list li{font-size:14px;
	width:850px;
	margin:3px 10px 3px 15px;
	float:left;
	height:35px;
	line-height:35px;
	display:inline;
	background-image:url(../images/news_back.gif);
	background-repeat: no-repeat;
	overflow:hidden;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E3E3E3;
	}
.news_list li a{ margin:0 0 0 10px; float:left; width:600px; overflow:hidden;}
.news_list li span { float:right; color:#006600;}


/*  文章详细页样式 */

.news_txt1{background-color:#ffffff;border: 1px solid #ddd; width:885px; float:right; overflow:auto;}
.news_txt1 .news_txt_bt1{ margin:40px 0 0 20px; text-align:center; width:850px;border-bottom-width: 1px;	border-bottom-style: solid;	border-bottom-color: #E3E3E3; line-height:30px}
.news_txt1 .news_txt_bt1 h1{font-size:16px; font-weight:bold; color:#0099FF; }
.news_txt1 .news_txt_bt1 span{ color:#666; font-size:12px; font-weight:normal}
.news_txt1 .news_txt_txt1{ width:850px; font-size:14px; line-height:30px; margin:30px 0 15px 25px; }
.news_txt1 .news_txt_links{ margin:30px 0 30px 30px;border-top: 1px dashed #ddd;}
.news_txt1 .news_txt_links ul li{ height:25px; line-height:25px;font-size:14px;}
.news_txt1 .news_txt_links ul li span{ color:#006600; float:left;}

/*  相关链接开始 */
.news_txt_xg{text-align:left;width:298px; margin:5px 0 10px 0;  background-color:#ffffff;border: 1px solid #ddd;}
.news_txt_xg_bt {
	margin:0;
	padding:0;
	width:288px;
	height:39px;padding:5px;
	background:#f2f2f2;
}
.news_txt_xg h3{ font-size:14px; margin:0; color:#ff6699; padding:10px 0 0 20px; font-family:"微软雅黑"}
.news_txt_xg ul{margin:10px 0 10px 10px; padding:0; width:230px; background-image:url(../images/tubiao.png);background-repeat: no-repeat;
	background-position: -384px -79px; }
.news_txt_xg li {margin:0;padding:0 0 0 30px; height:30px;  line-height:30px; width:225px; overflow:hidden}


.news_txt_xg2{text-align:left;width:298px; margin:5px 0 10px 0; font-size:14px;  background-color:#ffffff;border: 1px solid #ddd;}
.news_txt_xg_bt {
	margin:0;
	padding:0;
	width:288px;
	height:39px;padding:5px;
	background:#f2f2f2;
}
.news_txt_xg2 h3{ font-size:14px; margin:0; color:#ff6699; padding:10px 0 0 20px; font-family:"微软雅黑"}
.news_txt_xg2 ul{margin:10px 0 10px 10px; padding:0; width:230px; }
.news_txt_xg2 li {margin:0;padding:0 0 0 30px; height:30px;  line-height:30px; width:225px; overflow:hidden}
.mall2qas ul
{
	padding-bottom:10px;
}
.mall2qas ul li.one
{border: 1px solid #none;
	margin:10px;
	font-weight:bold;
}
.mall2qas ul li
{
	margin-left:30px;
	margin-top:10px;
	width:208px;
}

/*  相关链接结束 */

.fuleft { width:900px; float:right; margin:15px 0 0 0; padding:0;}
.furight { width:300px; float:left;margin:10px 0 0 0; padding:0;}
/*  广告开始 */
.fuguanggao{text-align:left;width:298px; margin:10px 0 0 0; padding:0; background-color:#ffffff;border: 1px solid #ededed; overflow:hidden;}
.fuguanggao img { border:0; width:298px;}