.help_right .help_search { width:936px;}
.vv{width:940px;margin-top:20px; height:60px; overflow:hidden; }
.vv a{ float:left; font-size:16px;-webkit-border-radius:4px;border-radius:4px;white-space:nowrap;height:40px;line-height:40px;margin-left:15px;margin-right:12px;margin-bottom:-5px;padding:0 15px;color:#666666;background:#fff;border:1px solid #ddd;}
.vv a:hover{border:1px solid #f2f2f2;color:#000;background:#f2f2f2;}
.vv a.active{color:#000;background:#f2f2f2;border-color:#f2f2f2;}
.vv a.active:hover{color:#000;}

.link-list{width:940px;margin-top:20px;overflow:hidden; }
.link-list a{ float:left; font-size:16px;-webkit-border-radius:4px;border-radius:4px;white-space:nowrap;height:40px;line-height:40px;margin-left:15px;margin-right:12px;margin-bottom:15px;padding:0 15px;color:#666666;background:#fff;border:1px solid #ddd;}
.link-list a:hover{border:1px solid #ff3366;color:#ff3366;}


p { padding:0px; margin:0px; }
a { outline:none; blr:expression(this.onFocus=this.blur());
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.about_wrap { margin:20px auto; line-height:24px; font-size:14px; }
.about_wrap table td { padding-left:10px; padding-right:10px; }
.help_main { width:1198px; margin-left:auto; margin-right:auto; background-color:#FFFFFF; border:solid 1px #E3E3E3; }
.help_left { width:209px; height:auto; padding-left:10px; padding-top:27px;border-bottom:solid 1px #E3E3E3; float:left; _display:inline; background:url(../images/help/left_bg.gif) repeat-y; }
.helpleft2{width:190px; border-top: 1px dashed #ddd; overflow:auto; margin:10px 0 0 0; }
.helpleft2 .help_txt{
	clear: both;
	line-height:22px;
	width:165px;
	color:#999999;
	height:47px;
	margin:0 0 0 15px;
	padding:10px 0 0 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
}
.help_kf{ width:101px; height:26px; background:url(../images/admin.png); background-repeat:no-repeat; background-position:0px -238px; float:left; margin:15px 5px 0 15px; display:inline;}
.helpmenu_bt_font{ font-size:22px; font-weight:bold; line-height:37px;  color:#000000;margin:0 0 0 13px; width:100px;  float:left; padding:0; text-align:center;}
.helpleft2 .help_txt p{ margin:0 0 0 5px;}
.helpleft2 .help_txt span { font-size:16px; color:#ff6699; font-weight:bold; }
.helpleft2 .help_txt .help_txt_jy{  font-size:12px; color:#ff6699; font-weight:normal;}

.help_right { width:940px; margin-left:20px; margin-top:20px; float:left; background-color:#FFFFFF; overflow:hidden; margin-bottom:30px; _display:inline; }
.help_img { width:100px; height:20px; background:url(../images/help/help_img.gif) no-repeat; }
.help_img2 { width:100px; height:20px; background:url(../images/help/help_img2.gif) no-repeat; }
.help_main .help_left ul { padding:0px; margin:0px; margin-top:15px; margin-bottom:60px; }
.help_main .help_left ul li { padding:0px; margin:0px; width:209px; height:41px; list-style:none; cursor:pointer; }
.help_main .help_left ul li a:link p { padding:0px; margin:0px; width:191px; height:27px; padding-left:18px; padding-top:14px; color:#666666; font-size:14px; text-decoration:none; cursor:pointer; text-decoration:none; }
.help_main .help_left ul li a:visited p { padding:0px; margin:0px; width:191px; height:27px; padding-left:18px; padding-top:14px; color:#666666; font-size:14px; text-decoration:none; list-style:none; }
.help_main .help_left ul li a:hover p { padding:0px; margin:0px; width:191px; height:27px; padding-left:18px; padding-top:14px; color:#FF6699; font-size:14px; font-weight:bold; text-decoration:none; background:url(../images/help/left_libg.gif) no-repeat; list-style:none; cursor:pointer; }
.left_active { padding:0px; margin:0px; width:191px; height:27px; padding-left:18px; padding-top:14px; color:#ff6f0f; font-size:14px; font-weight:bold; text-decoration:none; background:url(../images/help/left_libg.gif) no-repeat; list-style:none; cursor:pointer; }
.help_right .path { width:711px; height:25px; padding-left:5px; color:#999999; font-size:12px; border-bottom:solid 1px #E3E3E3; }

.helpsearchkang { background-color:#ffffff; border: 1px solid #D5D5D5; width:350px; height:25px; line-height:25px; color:#999999; margin:8px 0 0 0; }
.helpsearchbt { width:93px; height:28px; background-image:url(../images/help/ss.png); border:0; vertical-align:bottom; }
.help_right .help_wenti { width:736px; height:auto; border:1px dashed #FF9797; background-color:#FFF7FB; margin:5px 0 15px 0; padding-bottom:10px; }
.help_right .help_wenti h3 { margin:15px 0 10px 20px; font-size:16px;color:#Ff5151; }
.help_right .help_wenti ul { width:736px; margin:0 0 20px 0; }
.help_right .help_wenti ul li { width:348px; margin:0 0 0 20px; float:left; height:35px; line-height:35px; display:inline; background-image:url(../images/help/help_back.gif); background-repeat:no-repeat; overflow:hidden; }
.help_right .help_wenti ul li a { font-size:13px; color:#666; margin:0 0 0 10px; }

.help_list{ width:738px; }
.help_qa{ clear:both; margin-bottom:10px }
.help_qa a:link, .help_qa a:visited { color:#008EF2; }
.help_qa a:hover, .help_qa a:active { color:#008EF2; }
.help_qa_q{ margin:0;height:35px; line-height:35px; background-color:#FFECEC;font-size:14px; color:#000; width:738px; clear:both;}
.help_qa_q p { float:left;}
.help_qa_a{ margin:5px 10px 20px 0; line-height:35px;font-size:13px; width:672px; float:left; text-align:left}
.tubiao_ask{width:16px; height:16px;background:url(../images/admin.png); background-repeat:no-repeat; background-position:-74px 0px;margin:8px 15px 0 15px; float:left;display: inline; cursor:pointer;}
.tree_on{ width:11px; height:13px; background:url(../images/admin.png); background-repeat:no-repeat; background-position:-13px 0px; display:inline; float:right; margin:10px 8px 0 0 ;}
.tubiao_answer{width:16px; height:16px;background:url(../images/admin.png); background-repeat:no-repeat; background-position:-91px 0px;margin:14px 15px 0 15px; float:left;display: inline; cursor:pointer;}

.help_new_list { margin:0px; padding:0px; margin-top:10px; list-style:none; overflow:hidden; margin-bottom:20px; }
.help_new_list li { width:356px; height:96px; float:left; margin-bottom:10px; margin-right:10px; background-image:url(../images/help/help_list_bg.jpg); border:1px #DEDEDE solid; }
.help_new_list li .icon { float:left; width:71px; height:66px; margin-left:25px; margin-right:25px; margin-top:15px; background-image:url(../images/help/help_icon.jpg); }
.help_new_list li .icon_shop { background-position:0px -66px; }
.help_new_list li .icon_draw { background-position:0px -199px; }
.help_new_list li .icon_crat { background-position:0px -132px; }
.help_new_list li .help_info { float:left; margin-top:12px; width:220px; _width:200px; color:#666666; line-height:16px; }
.help_new_list li .help_info .help_title { font-size:14px; font-weight:bold; margin-bottom:4px; }
.help_new_list li .help_info .help_desc { margin-bottom:4px; }
.hot_help { overflow:hidden; padding:10px; margin-top:10px; width:718px; list-style:none; background-color:#F7F7F7; }
.hot_help li { height:40px; line-height:40px; padding-left:10px; border-bottom:1px #E6E6E6 solid; color:#666666; font-size:14px; }
.hot_help li .link { float:left; }
.hot_help li .link a { font-size:14px; }
.hot_help li .icon { float:right; margin-top:14px; height:13px; width:15px; font-size:0px; margin-right:20px; background-image:url(../images/help/list_bg.jpg); }
