@charset "utf-8";
/* CSS Document */
*
{
	margin:0;
	padding:0;
}
.yahei {
  font-family: "Hiragino Sans GB","Microsoft YaHei","SimSun",sans-serif;
}
.wrap{background:url(../images/bao.jpg) no-repeat center top;}
.superindex{width:1200px;background:url(../images/baokuan.jpg) no-repeat center top;margin:0 auto}
.top01{height:431px; overflow:hidden}

.cf_main{margin-bottom:-15px; color:#5E5E5E; font:12px/1.5 'Microsoft Yahei','寰蒋闆呴粦','瀹嬩綋',Tahoma,Helvetica,Arial,sans-serif,\5b8b\4f53; }
.chaofan_banner_bg{ height:467px; background:#dc2e4b url(..//images/banner_bg.gif) no-repeat center top;}
.chaofan_banner{ width:991px; height:467px; margin:0 auto;}
.chaofan_main_bg{ background:#ffb424 url(../images/main_bg.gif) no-repeat center top; padding:0 0 15px;margin-top:-15px;}


.special-sidebar{display:none;position:fixed;top:50%;z-index:100;width:140px;font-size:14px;text-align:center}
.special-sidebar li{vertical-align:middle}
.special-sidebar a{display:block}
.special-sidebar img{display:block}
.new-icon{  background: url(../images/chaoji.png) no-repeat -71px -142px;
  height: 71px;
  overflow: hidden;
  width: 71px;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 15;
}
img {
  color: #999;
  font-size: 12px;
  line-height: 1em;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
}
.con_auto {
  margin: 0 auto;
  text-align: left;
  width: 990px;
}
.clearfix::after, .container::after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.super-limit-area {
  margin-bottom: 12px;
  min-height: 500px;
  margin-top:14px;
}
.item-mod {
  width:990px;margin:0 0px 18px 0; border:none;
	position:relative;height:240px; background:#FFFFFF; 
}
.item-mod:hover
{box-shadow:4px 4px 20px #d5d5d5;
}
.item-mod .image, .item-mod .img {
  width:540px;
	height:240px;
}
.item-mod .title {
  width:430px;
	line-height:20px; color:#777;
	margin:20px;
	display:block;
	font-size:21px;
}
a.red:link, a.red:visited, .red {
  color: #f60;font-size:21px; margin-right:3px;
}
.item-mod .desc {
}
.tp {width:540px;float:left;height:240px; overflow:hidden;
}
.money {width:450px;float:left;background:#f2f2f2; height:240px; overflow:hidden;
  font-family: Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei","SimSun",sans-serif;
}
.status-box {padding:0px 0 0 70px;}
.status-box li {display:inline-block; _zoom:1; *display:inline; margin:10px 10px 35px 0; padding:4px 12px; font-size:18px; color:#46A3FF; -webkit-border-radius:4px; border-radius:4px; }

.money-box {background:#F75000;width:450px; *margin-top:20px; height:100px; margin-bottom:30px;font-family:"微软雅黑"}
.money-box .price-box {width:275px;float:left; height:100px; border-right:1px dashed #d0d0d0;}
.money-box .price {padding:30px 0 0 12px; color:#fff; font:26px '方正细倩简体'; font-weight:700}
.money-box .price strong {font:72px '微软雅黑'; font-weight:700; color:#ffff00; margin-top:5px }
.money-box .left {float:left;width:300px;}
.money-box .fl {padding-left:20px; font-size:32px; line-height:32px; color:#ff0;}
.money-box .fl span {float:left;display:inline-block; _zoom:1; *display:inline; width:24px; height:24px; line-height:24px; margin-top:3px; text-align:center; margin-right:8px; font-size:16px; color:#F75000; background:#ff0; vertical-align:middle; -webkit-border-radius:4px; border-radius:4px;}
.money-box .fl strong {float:left;float:inherit; color:#FFFF00; vertical-align:top; }
.money-box .right {float:left;width:129px; padding-right:16px;margin-top:5px;  text-align:right;}
.money-box .right del{display:block; height:20px; font-size:16px; color:#fff; padding:23px 0 10px;}
.money-box .right em{display:inline-block; _zoom:1; *display:inline; padding:3px 6px; font-size:16px; color:#666; background:#fff;}
.money-box .btn-box { float:left;width:172px; padding-top:25px;}
.money-box .btn-status {display:block; width:138px; height:48px; line-height:48px; text-align:center; margin:0 auto; font-size:24px; color:#F75000; -webkit-border-radius:4px; border-radius:4px; background:#ffe975;}
.money-box .btn-status a{font-size:24px; color:#F75000; }

.ft {text-align:center; margin-top:24px; font-size:18px; color:#666;}
.ft a{font-size:18px; color:#666;}
.ft i {display:inline-block; _zoom:1; *display:inline; width:19px; height:28px; margin-right:6px; vertical-align:middle; background:url(http://static2.51fanli.net/super/images/zhuanti/tpl173/time.png) no-repeat;}
.ft em {display:inline-block; _zoom:1; *display:inline; height:20px; line-height:20px; text-align:center; margin:0 4px; padding:0 2px; font-size:16px; color:#fff; background:#666666; -webkit-border-radius:2px; border-radius:2px;}


.item-mod img.lazy
{
	display:block;
	width:540px;
	height:300px;
}
.item-mod .price strong {
  font-size: 30px;
  padding-right: 8px;
}
.bg-cgf{background-image:url(../images/chaofan.png);display:inline-block;vertical-align:top;}
.ico-qg{width:124px;height:124px;line-height:124px;background-position:0 0;position:absolute;left:50%;top:50%;margin:-54px 0 0 -54px;text-align:center;color:#fff;font:26px '微软雅黑';font-weight:bold;}
.ico-tit{width:102px;height:29px;background-position:0 -125px;}
.ico-fan{width:102px;height:18px;background-position:-139px -126px;}
.ico-buy{width:90px;height:41px;background-position:-125px 0;position:absolute;bottom:15px;right:-6px;font:14px "宋体";font-weight:bold;color:white;text-align:center;}
.ico-buy em{display:block;font-weight:bold;margin-top:16px;}
.ts { width:990px; margin:0 auto;
   color: #fff;
  font:28px '方正细倩简体';
  height: 30px; 
  line-height: 30px;
}
.item-mod .fl {
   color: #f00;
  font-size: 21px;
  height: 30px; margin-top:8px;
  line-height: 30px;
}
.item-mod .fl strong {
  float: left;
  font-size: 26px;
}
.i-gmhf {background-image:url(../images/chaofan.png);display:inline-block;vertical-align:top;
  color: #f00;width:106px;background-position:-139px -126px;
  display: block;
  float: left; margin-top:5px;
  font:14px '微软雅黑';
  height: 18px;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
}
.item-mod .mod-btn {
  background-image:url(../images/chaofan.png);width:90px;height:41px;background-position:-125px 0;position:absolute;bottom:30px;right:-6px;font:14px "宋体";font-weight:bold;color:#FFFFFF;text-align:center;
}
.item-mod .mod-btn em{display:block;font-weight:bold;margin-top:16px; color:#FFFFFF}
.item-mod .mod-btn.jjstart
{  background-image:url(../images/chaofan.png);width:90px;height:41px;background-position:-125px -83px;position:absolute;bottom:30px;right:-6px;font:14px "宋体";font-weight:bold;color:#FFFFFF;text-align:center;
}
.ht {
  height: 0;
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.xihuan
{
	background: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 15px;
    cursor: pointer;
    display: none;
    height: 26px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 26px;
    z-index: 15;
}
.xihuan .like-ico
{
	background-position: 0 0;
    height: 11px;
    margin-left: -7px;
    margin-top: -5px;
	width:14px;
}
.xihuan span {
  background:url(../images/my-like.png) no-repeat;
  left:50%;
  top:50%;
  position:absolute;
}
.item-mod:hover .xihuan
{
	display:block;
}
.xihuan .like-ico.l-active
{
	background-position: 0 -20px;
}

/*翻页样式*/
.chaofan_page {PADDING-RIGHT: 6px;font-size: 16px; PADDING-LEFT: 3px; PADDING-BOTTOM: 20px; MARGIN: 3px; PADDING-TOP: 20px; TEXT-ALIGN: center; font-family:"宋体";clear:both; margin-top:20px; margin-bottom:20px}
.chaofan_page A {BORDER: #ddd 1px solid; background:#FFFFFF; PADDING-RIGHT: 20px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 20px; PADDING-BOTTOM: 15px; COLOR: #000; MARGIN-RIGHT: 10px; PADDING-TOP: 15px; border-radius:5px; TEXT-DECORATION: none}
.chaofan_page A:hover {BORDER: #ff6699 1px solid;border-radius:5px; BACKGROUND-IMAGE: none; COLOR: #ff6699; BACKGROUND-COLOR: #fff}
.chaofan_page A:active {border-radius:5px;BORDER-RIGHT: #fd6d01 1px solid; BORDER-TOP: #fd6d01 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #fd6d01 1px solid; COLOR: #fd6d01; BORDER-BOTTOM: #fd6d01 1px solid; BACKGROUND-COLOR: #ffede1}
.chaofan_page SPAN.current {border-radius:5px;BORDER: #ff6699 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; PADDING-BOTTOM: 15px; COLOR: #ff6699; MARGIN-RIGHT: 10px; PADDING-TOP: 15px; BACKGROUND-COLOR: #fff}
.chaofan_page SPAN.disabled {PADDING-RIGHT: 6px;display:none;  PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; COLOR: #adaaad; MARGIN-RIGHT: 3px; PADDING-TOP: 2px}



.m_active{width:990px;margin:0 auto;padding-bottom:30px}
.m_active .active_tit{background:#ffb924;margin:10px 0 0 0;height:56px;position:relative}
.m_active .active_tit .name{position:absolute;left:-2px;top:0;height:56px;width:174px;padding-left:50px;background:url(../images/ynianzs.png) no-repeat -440px 0;color:#fff;font:bold 30px/56px \5fae\8f6f\96c5\9ed1}
.m_active .active_tit .tab{float:right;width:740px;padding-top:7px;padding-right:20px}
.m_active .active_tit .tab li{float:right;width:156px}
.m_active .active_tit .tab li a{display:block;height:52px;line-height:52px;text-align:center;font:24px/42px \5fae\8f6f\96c5\9ed1;color:#eb5e03}
.m_active .active_tit .tab li a:hover{color:#fff}
.m_active .active_tit .tab li a.cur{background:#e84c00;color:#fff;border-radius:21px}
.m_active .active_con{background:#fff;border-radius:0 0 3px 3px;padding:30px 35px;color:#666;font:17px '微软雅黑';}
.m_active .active_con ol li{list-style:inside decimal;line-height:42px;}
