
.side_right{
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 36px;
    z-index: 102;
	background-color:#444;
	_display:none;}
.side_right .side-box {
background:#444;
    height: 100%;
    position: relative;
    z-index: 101;
	color:#fff;
}

.hydl{background:#f36;
    border-radius:5px;
    color: #fff;
    display: block;
    font-family: "Î¢ÈíÑÅºÚ";
    height: 35px;
    line-height: 35px;
	width:230px; font-size:16px;
    text-align: center;
	margin:25px 0 0 25px;}

.side_right .side-oper{position:absolute;top:150px;}
.side_right .side-oper.other{position:absolute;bottom:0;top:auto;}
.side_right .side-oper li.normal{margin-top:15px;position:relative;}
.side_right .side-oper li.normal.side-backtop{height:36px;}
.side_right .side-oper li.normal.side-backtop a.links{display:none;}
.side_right .side-oper li.normal.side-user{margin-top:0;}
.side_right .side-oper li.normal.side-cart{border-top:#222 solid 1px;border-bottom:#222 solid 1px;}
.side_right .side-oper li.normal.side-cart .tab-login{display:none;}
.side_right .side-oper li.normal.side-cart.selected .tab-login{display:block;}
.side_right .side-oper li.normal.side-cart #side-empty{padding:10px 0 25px;z-index:5;}
.side_right .side-oper li.normal.side-cart #side-empty .arr-icon{top:50%;margin-top:-8px;}
.side_right .side-oper li.normal a.links{width:36px;padding:9px 0;display:block;cursor:pointer;}
.side_right .side-oper li.normal a.links.links-cart{border-top:#555 solid 1px;border-bottom:#555 solid 1px;}
.side_right i.normal-icon{display:block;background:url(../images/sidebar.png) no-repeat;}
.side_right i.normal-icon.i-user{background-position:0 0;width:18px;height:18px;margin-left:9px;}
.side_right i.normal-icon.i-cart{height:77px;width:18px;background-position:1px -24px;margin:0 0 0 9px;}
.side_right i.normal-icon.i-love{width:18px;height:18px;background-position:0 -110px;margin:0 0 0 9px;}
.side_right i.normal-icon.i-quan{width:18px;height:18px;background-position:0 -134px;margin:0 0 0 9px;}
.side_right i.normal-icon.i-complain{width:18px;height:18px;background-position:0 -208px;margin:0 0 0 9px;}
.side_right i.normal-icon.i-code{width:18px;height:18px;background-position:0 -160px;margin:0 0 0 9px;}
.side_right i.normal-icon.i-backtop{width:18px;height:18px;background-position:0 -187px;margin:0 0 0 9px;}
.side_right .side-oper li.normal:hover  a.links{background-color:#f36;text-decoration:none;}
.side_right .side-oper li.normal:hover  a.links .i-user{background-position:-26px 0;}
.side_right .side-oper li.normal:hover  a.links .i-cart{background-position:-25px -24px;}
.side_right .side-oper li.normal:hover  a.links .i-love{background-position:-26px -110px;}
.side_right .side-oper li.normal:hover  a.links .i-quan{background-position:-26px -134px;}
.side_right .side-oper li.normal:hover  a.links .i-complain{background-position:-26px -208px;}
.side_right .side-oper li.normal:hover  a.links .i-code{background-position:-26px -160px;}
.side_right .side-oper li.normal:hover  a.links .i-backtop{background-position:-26px -187px;}
.side_right .side-oper li.normal:hover  a.links .num{background:#fff;color:#f36;}
.side_right .side-oper li.normal.curr a.links{background-color:#f36;}
.side_right .side-oper li.normal.curr a.links .i-user{background-position:-26px 0;}
.side_right .side-oper li.normal.curr a.links .i-cart{background-position:-25px -24px;}
.side_right .side-oper li.normal.curr a.links .i-love{background-position:-26px -110px;}
.side_right .side-oper li.normal.curr a.links .i-quan{background-position:-26px -134px;}
.side_right .side-oper li.normal.curr a.links .i-complain{background-position:-26px -208px;}
.side_right .side-oper li.normal.curr a.links .i-code{background-position:-26px -160px;}
.side_right .side-oper li.normal.curr a.links .i-backtop{background-position:-26px -187px;}
.side_right .side-oper li.normal.curr a.links .num{background:#fff;color:#f36;}
.side_right .side-ad .tab-tips{ background:none; border:none; bottom:0px; top:-139px;  box-shadow:none; position: absolute; margin-right:110px;}
.side_right .side-oper  li.normal.curr a.links_ad,.side_right .side-oper li.normal:hover  a.links_ad{background:none;important;}
.side_right .side-oper em.num {
    background:#f36;
    border-radius: 15px;
    color: #fff;
    display: block;
    font-family: "Î¢ÈíÑÅºÚ";
    height: 18px;
    line-height: 18px;
	width:18px;
    text-align: center;
	margin:5px 0 0 9px;
}
.side_right .tab-tips {
    background-color: #444;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: none;
    height: 36px;
    line-height: 36px;
    opacity: 0;
    position: absolute;
    right: 62px;
    text-align: center;
    top: 0;
    width: 90px;
	border-radius:2px;
}
.side_right .tab-tag{top:40px;}
.side_right .tab-tips a {
    color: #ffffff;
    text-decoration: none;
}
.side_right .tab-tips a em{font-size:14px;font-family:"arial";}
.side_right .arr-icon {
    color: #444;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: 14px;
    width: 16px;
}
.side_right .side-oper li.normal.side-code .tab-tips{top:auto;bottom:-46px;background-color:#fff;border:#e2e2e2 solid 1px;padding:5px;width:150px;height:175px;}
.side_right .side-oper li.normal.side-code .tab-tips .code-box{position:absolute;top:5px;left:5px;width:150px;height:150px;z-index:9999;}
.side_right .side-oper li.normal.side-code .tab-tips .code{height:150px;width:150px;}
.side_right .side-oper li.normal.side-code .tab-tips .txt{color:#666;line-height:25px; height:30px;font-size:14px}
.side_right .side-oper li.normal.side-code .tab-tips .arr-icon{color:#fff;top:55px;}
.side_right .side-oper li.normal .tab-login{  line-height: 36px;
    opacity: 0;
    position: absolute;
    right: 62px;
    text-align: center;
    top: 0; box-shadow:2px 4px 30px #d5d5d5;
    color: #fff;
    display: none;background:#fff;width:280px;height:550px;padding:10px 0;z-index:999999998;}
.side_right .side-oper li.normal .tab-login .arr-icon{color:#fff;}
.side_right .side-oper li.normal .tab-login a.head{display:block;width: 60px;height: 60px;margin: 0 auto 10px;}

.side_right .side-oper li.normal .tab-login .pic{width:280px;height:550px;}

.side_right .side-oper li.normal .tab-login .pic img{border-radius:50%;}

.us_top{width:300px; margin-left:25px}
.us_topleft{width:90px; float:left}
.us_topleft{width:60px; height:60px;border:#e2e2e2 solid 1px;border-radius:50%;}
.us_topright{width:200px; float:left;line-height:30px; text-align:left; margin-left:10px}
.us_topright span{color:#ff3366; font-size:18px; font-family:"Î¢ÈíÑÅºÚ"; font-weight:bold }


.wdjfb{width:213px; margin:20px 0 0 25px; padding-left:15px;color:#666;font-size:14px;text-align:left;border:#ff3366 dashed 1px;border-radius:8px;}
.wdjfb .bt{color:#666; font-size:14px;}
.wdjfb .ye{color:#ff3366; font-size:18px;font-family:"Î¢ÈíÑÅºÚ"; font-weight:bold}
.wdjfb em{ color:#666;font-size:12px;font-family:"Î¢ÈíÑÅºÚ";}

.toolbar-u-task { margin-top: 20px; position: relative; }
.toolbar-u-task a.u-task-t-link-all { position: absolute; right: 20px; top:3px;color:#666; }
.toolbar-u-task .u-task-list { padding: 0; overflow: hidden; }
.toolbar-u-task .u-task-meta { overflow: visible; text-align: center; position: relative; height: 60px; padding: 0 15px; }
.toolbar-u-task .u-task-list .u-task-meta a { float:left; margin: 5px 15px; color:#666; font-size:13px; font-family:"Î¢ÈíÑÅºÚ" }
.toolbar-u-task .u-task-list .u-task-meta a img { width: 50px; height: 50px; display: inline-block; }
.toolbar-u-task .u-task-list .u-task-meta a span { display: block; margin-top: 2px; }
.toolbar-u-task .u-task-list .u-task-meta a:hover img { opacity:0.8; }
.toolbar-u-task .u-task-list .u-task-meta a:hover span { color:#ff3366 }



.side_right .side-oper li.normal .tab-login .txt{color:#333;background:#fff3f5;border-top:#ffd8d8 solid 1px;border-bottom:#ffd8d8 solid 1px;height:30px;line-height:30px;}
.side_right .side-oper li.normal .tab-login .txt a{color:#f36;}
.side_right .side-oper li.normal .tab-login .txt a:hover{text-decoration:underline;}
.side_right .side-oper li.normal .tab-login .time{color:#333;line-height:20px;}
.side_right .side-oper li.normal .tab-login .time em{color:#f36;padding:0 2px;}
.side_right .side-oper li.normal .tab-login .go_pay{display:block;width:74px;height:30px;line-height:30px;background:#f36;margin:7px auto 0;color:#fff;font-size:14px;border-radius:2px;}
.side_right .side-oper li.normal .tab-login .go_pay:hover{background:#ff517d;text-decoration:none;}
.side_right .side-oper li.normal .tab-login .duang-pic{background:url(../vip/images/duang.gif) no-repeat;width:44px;height:40px;margin:0 auto;}
.side_right .close{color:#ccc;display:block;width:13px;height:13px;font-size:21px;line-height:13px;position:absolute;top:15px;right:15px;cursor:pointer;}
.side_right .close:hover{color:#f36;}
.right-bag {
    width:190px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    right:-230px;
    top: 0;
    transition: all 0.2s linear 0s;
	background:#fff;
	height:100%;
	padding:0 20px;
	display:block;
}
.right-bag.bag-show{right:36px;}
.bag-tool.right-bag ul li{width:190px;}
.bag-tool.right-bag ul li .detail{width:130px;}
.bag-tool.right-bag ul li p.title a{width:120px;}
.sidebar-hd {
    border-bottom: 1px solid #dedcdc;
    overflow: hidden;
    padding: 10px 0;
	height:20px;
	line-height:20px;
}
.VwdVAAc={
	background:url(/img/help/btn.PNG) no-repeat;
	height:36px;
	width:123px;
	display:inline-block;
	color:#FFF;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	float:left;
	margin-left:15px
}
.sidebar-hd a span{color:#333;}
.sidebar-hd a span.t{font-family:"Microsoft YaHei";font-size:16px;}
.sidebar-hd a:hover{text-decoration:none;}
.sidebar-hd span.time{color:#f36;margin:0 2px 0 10px;}
.sidebar-hd span.time em{font-size:14px;font-family:arial;}
.right-bag .bag-empty{text-align:center;}
.right-bag .bag-empty .img{background:url(../vip/images/bag.gif) no-repeat;width:69px;height:120px;margin:20px auto;}
.right-bag .bag-empty .txt{font-size:14px;}