.morecat{width:1170px; height:auto; background:#fff;border:1px solid #E3E3E3;padding-top:5px; padding-bottom:5px; padding-left:30px; margin-bottom:10px;}
.morecat ul{ width:1170px; height:auto;}
.morecat ul li{ width:135px;height:30px;  margin-top:10px; float:left}
.morecat ul li a{ color:#333; display:block;font-size:14px; width:130px;white-space:nowrap; overflow:hidden;font-family:"宋体";}
.morecat ul li a:hover{ text-decoration:none; color:#FF99CC}


.hot_head_goods{height:34px; line-height:34px; overflow:hidden }
.hot_head_goods span{float:left;width:120px;font-size:16px;font-weight:bold; color:#c47c09;font-family:"微软雅黑"; line-height:30px;margin-top:-5px;}
.catalogs{ width:180px;background:#fff;border:1px solid #ddd;padding:15px}
.list_hot{ width:210px; margin-top:20px; background:#f2f2f2;border:1px solid #ddd;padding:15px}
.catalogs h5{  height:40px; line-height:35px; margin-left:0px;font-size:16px; font-family:"微软雅黑";color:#ff6699;  }
.catalogs ul{ width:200px; height:auto; padding-left:8px}
.catalogs ul li{ width:180px; height:35px; line-height:30px; font-size:14px; margin-left:5px; _margin-left:10px}
.list_hot .catalogs ul li a:hover{color:#Ff6699; text-decoration:underline;}
.hot_goods{width:202px; margin:0 auto; overflow:hidden;}
.hot_goods_list{width:177px; margin:0 auto; padding-top:20px;margin-left:5px;}
.hot_goods_list_title{width:175px; height:20px; line-height:20px; text-align:center; background:#F2F2F2; position: absolute; margin-top:135px; margin-left:2px; overflow:hidden;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.hot_goods_list_title a{color:#333333; text-decoration:none;}
.hot_goods_list_title a:hover{color:#333333; text-decoration:none;}
.hot_goods_list_img{width:175px; height:175px; padding:1px; border-top: #b4b4b4 1px solid;border-bottom: #b4b4b4 1px solid;border-left: #b4b4b4 1px solid;border-right: #b4b4b4 1px solid;text-align:center;display:block; margin-left:5px;}
.hot_goods_list_img_hover{width:175px; height:175px; padding:1px; border: #d00 1px solid; text-align:center;display:block; margin-left:5px;}
.hot_goods_list_price{width:175px; margin:3px auto; line-height:20px; text-align:center;}
.hot_goods_list_scprice{text-decoration:line-through}
.hot_goods_list_tbprice{color:#e20c3a}
.hot_goods_list_num{color: #009900}


.taobao_search_bg{
	height:221px;
	background:#fff9f1 url(../images/tao/tb_search_bg.jpg) no-repeat center top;
	border-bottom:1px solid #ffd7ad;}
.taobao_main_search{
	width:894px;
	margin:0 auto;
	padding:20px 0 0;}
.taobao_search_news{
	height:50px;}
.taobao_search_news span,.header_serch_left .serch_text_bg,.header_serch_botton{background:url(../images/tao/taobao_search.gif) no-repeat }
.taobao_search_news span{
	height:25px;
	float:right;
	display:block;
	font-size:14px;
	padding:25px 0 0 45px;
	background-position:left top;}
.taobao_search_news span a,.taobao_search_news span a:hover{
	text-decoration:underline;}
.taobao_search_pic{
	width:894px;
	height:120px;
	padding:30px 0 0;}
.header_serch{
	width:891px;
	height:54px;
	background:#ff6699;
	padding:3px 0 0 3px;
	margin:3px 0 0;
	position:relative;
	z-index:91;}
.serch_close{
	width:17px;
	height:17px;
	position:absolute;
	top:17px;
	right:10px;}
.serch_close a{
	width:17px;
	height:17px;
	cursor:pointer;
	display:block;
	background-position:-70px -55px;}
.serch_close a:hover{
	background-position:-70px -75px;}
.header_serch_left{
	width:735px;
	height:51px;
	position:relative;
	padding:0 30px 0 0;
	float:left;
	background-color:#fff;}
.header_serch_left .serch_text_bg{
	width:665px;
	height:51px;
	overflow:hidden;
	padding:0 10px 0 60px;
	background-position:20px -52px;}
.header_serch_left .serch_text,.header_serch_left .serch_text_hover{
	width:665px;
	height:51px;
	line-height:51px;
	background:none;
	font-family:"microsoft yahei";
	border:0;
	font-size:16px;
	outline:none;}
.header_serch_left .serch_text_hover:focus{outline:0;}
.header_serch_left .serch_text{
	color:#ccc;}
.header_serch_left .serch_text_hover{
	color:#333;}
.header_serch_down{
	width:760px;
	height:auto;
	height:31px;
	min-height:31px;
	position:absolute;
	top:50px;
	left:1px;
	padding:0 0 1px;
	display:none;
	background:#fff;
	border:1px solid #ffb43d;}
.header_serch_down li{
	width:760px;
	height:31px;
	line-height:31px;
	float:left;}
.header_serch_down a{
	color:#333;
	display:block;
	padding:0 0 0 9px;}
.header_serch_down a:hover{
	color:#333;
	background:#f7f7f7;}
.header_serch_down a.li_hover{
	color:#333;}
.header_serch_down li strong{
	color:#ff8400}
.header_serch_down li.serch_list{
	width:760px;
	height:31px;
	line-height:31px;
	float:left;
	position:relative;}
.header_serch_down li.serch_list a{
	height:31px;
	color:#666;
	display:block;
	padding:0 0 0 19px;
	cursor:pointer;
	border-bottom:none;}
.header_serch_down li.serch_list a.li_hover{
	color:#666;
	background:#f7f7f7;
	border-bottom:none;}
.header_serch_down li.serch_list i{
	width:13px;
	height:13px;
	float:left;
	display:block;
	line-height:0;
	padding:8px 5px 0 0;
	overflow:hidden;}
.header_serch_down li.serch_list span{
	float:left;}
.header_serch_down li.serch_list i img{
	width:13px;
	height:13px;}
.header_serch_down li.serch_list .serch_fanli{
	position:absolute;
	top:0;
	right:20px;}
.header_serch_right{
	width:126px;
	height:51px;
	float:left;}
.header_serch_botton{
	width:126px;
	height:51px; font-family:Arial, Helvetica, sans-serif;
	border:0; color:#FFFFFF; font-weight:bold;
	cursor:pointer;
	background:#ff6699; font-size:21px;}
.hearder_search_pic{
	width:255px;
	height:42px;
	float:left;
	padding:5px 0 0 30px;}	


/* .淘宝返利分类*/
.cat{ margin:0 auto; WIDTH: 1196px; overflow:hidden}
.cat td{ line-height:35px; text-align:center; font-size:14px;}
.cat td .t{WIDTH: 81px;
	height: 35px; margin-right:10px;border-radius:5px;  margin-bottom:8px;background:#fff;
	display:block;
} 
.cat td .t2{WIDTH: 163px;
	height: 35px; margin-right:10px;border-radius:5px;  margin-bottom:8px;background:#ff6699;
	display:block;color:#fff;
} 
.cat td .t:hover{
	height: 35px;
	display:block;
	background:#ff6699;
	background-position: left -56px;
} 
.cat td.active .t{
	height: 35px;
	display:block;
	color:#fff;
	background:#ff6699;
	background-repeat: no-repeat;
	background-position: left 0px;	
}
.cat td a{ font-size:14px; color:#666; text-decoration:none;}
.cat td a:hover { font-size:14px; color:#fff;}
.cat .curcat{ height: 35px;WIDTH: 81px;
	display:block;border-radius:5px;color:#FF6699;border:1px solid #ff6699;pfont-size:14px; }

/*首页热卖商品*/
.containergh{width:1200px;background-color:#FFFFFF; margin:0 auto;} 
.tab_left{margin-top:-18px;
	padding-top:0px;float:left;
	width:235px;
} 
.tab_content{margin-top:5px;
	padding-top:0px;float:right;
	width:955px;
} 
.containergh .big_bk{border:1px solid #ddd; 
	width:285px; height:305px;
	background-color:#FFFFFF;
	padding:15px 0px 11px 15px;
	float:left; _display:inline;margin-left:10px; margin-right:5px;margin-top:4px; margin-bottom:14px; 
 overflow:hidden;
}
.containergh  .big_bk:hover{ 
	border:1px #ff6699 solid;
	background-color:#FBFBFF;
}
.containergh .big_bk .img{ width:275px; height:190px; position:relative; overflow:hidden}
.containergh .big_bk .img .miaos{
	height:20px;
	color: #FFFFFF;
	position: absolute;
	background-color:#666;
	filter:alpha(opacity=80);
	opacity:0.8; padding:5px;
	right: 15px;
	bottom: 15px;
	text-align: center;
	line-height:20px;
	font-size:14px;
}

.containergh .big_bk .img .biaos .xd{
	font-size:12px; color:#FFFF00
}
.containergh .big_bk .img .sp_logo img{
	width:80px; height:40px;
	position:absolute;
	left:40px; top:0px;
}
.containergh .big_bk .mc{
	width:280px;color:#999;font-size:16px;margin-top:15px;padding-left:0px;padding-top:5px;padding-bottom:15px;height:40px;height:21px;line-height:1.5;font-family:'微软雅黑', Arial, Sans-Serif;text-overflow:ellipsis; white-space:nowrap;overflow:hidden
}
.containergh .big_bk .neir{
	width:275px; height:41px;
	margin-top:10px;
}
.containergh .big_bk .neir .wz{
	width:140px;
	height:auto; font-family:Arial, Helvetica, sans-serif;
	float:left; _display:inline;
}
.containergh .big_bk .neir .wz .ys01{ margin-top:-4px;
	 padding-bottom:2px;
}
.containergh .big_bk .neir .wz .ys01 .jg1{  font-weight:bold; color:#ff6699;font-size:36px; font-family:Arial, Helvetica, sans-serif;
}
.zhekou{ color:#ff6699; padding:2px; font-size:16px}
.containergh .big_bk .neir .wz .ys01 .jg{ margin-top:8px;
	font-size:12px; font-weight:bold; color:#ff6699; padding-bottom:2px;
}
.containergh .big_bk .neir .wz .ys01 .jg2{ text-decoration: line-through;font-size:12px; margin-left:5px;
	color:#999999; padding-bottom:2px;
}
.containergh .big_bk .neir .but{
	 height:30px;  margin-top:12px;
	float:right; _display:inline; display:block;
}
.containergh .big_bk .neir .but .ys02{ font-size:13px; color:#999;}
.containergh .big_bk .neir .but .ys02 .ys03{ font-size:15px; font-weight:bold; color:#64A600}
.nr{ margin-top:10px;width:285px;height:30px; line-height:30px;float:left;  border-top:#ddd 1px dashed; 
	font-size:12px;  color:#666; padding-top:8px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden;
}

.nr{ margin-top:10px;width:265px;height:30px; line-height:30px;float:left;  border-top:#ddd 1px dashed; 
	font-size:12px;  color:#666; padding-top:8px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden;
}

.nr .fx1{ width:30px;height:30px; line-height:30px;float:left;
	font-size:12px;  color:#666;
}
.nr .fx2{ margin-top:-10px;width:240px;height:30px; line-height:30px;float:left;
	font-size:12px;  color:#666; padding-top:8px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden;
}

/* 热门搜索*/
.pd_top {
	width:1175px;border-radius:5px;
	height:30px;margin-top:10px;
	background:#FFECEC;border:#FFECEC dashed 1px;
	padding-top:15px;
	padding-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px;
}
.pd_top_t {
	float:left;
	font-size:14px;
	margin-top:3px;
	font-weight:bold;
}
.pd_top_u {
	float:left;
	width:700px;
	overflow:hidden;
}
.pd_top_u li {
	float:left;
	display:inline;
	margin-top:4px;
	padding:0 15px;
	border-right:1px solid #ddd;
}
.pd_top_r {
	float:right;
	padding-right:15px;
}
.pd_top_r li {
	float:left;
	width:70px;
	height:21px;
	line-height:21px;
	text-align:center;
	margin-left:10px;
}
.pd_top_r .on {
	background:url(../images/tao/top_bg.gif) no-repeat;
}
.pd_top_r .on a {
	text-decoration:none;
	outline:none;
}
.pd_top_r .on a:link {
	color:#FFFFFF;
}
.pd_top_r .on a:visited {
	color:#FFFFFF;
}
.pd_top_r .on a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.pd_top_line {
	width:1195px;
	height:1px;
	font-size:0px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:3px solid #ff6699;
}

/* 比价搜索 */
.pd_top_s {
	width:740px;
	float:left;
	overflow:hidden;
}
.pd_top_s ul li {
	float:left;
	display:inline;
	padding:0 12px;
	border-right:1px dashed #ccc;
}
.pd_top_s ul li.keywords label, .pd_top_s ul li.fm_price label {
	line-height:22px;
}
.pd_top_s ul li.keywords input, .pd_top_s ul li.fm_price input {
	border:1px solid #CCC;
	height:18px;
	line-height:18px;
	color:#666;
}
.pd_top_s .button {
	width:50px;
	height:22px;
	padding:0;
	background:url(../images/tao/so.png) no-repeat;
	border:none;
	cursor:pointer;
}


/* 图片放大镜 */
.small_big {
	position:absolute;
	left:190px;
	top:-40px;
	z-index:100;
	display:none;
}
.small_big .sell_bg {
	background:url(../images/s_total.gif) no-repeat -25px -100px;
	width:16px;
	height:28px;
	float:left;
	position:absolute;
	left:0px;
	top:40px;
}
.small_big .photo {
	border:1px solid #E3E3E3;
	background:#FFFFFF;
	margin-left:14px;
}
.small_big .photo img {
	margin:10px;
	overflow:hidden;
}

/* 小图列表 */
.goods-small {
	width:1200px;
	padding-top:15px;
	margin-left:auto;
	margin-right:auto;
}
.goods-small ul {
	float:left;
	height:auto;
	position:relative;
	list-style:none;
}
.goods-small ul li {
	float:left;
	width:1200px;
	height:auto;
	overflow:hidden;
}
.goods-small ul li .goods-info {
	height:130px;
	padding:15px 15px;
	overflow:hidden;
	border:1px #E3E3E3 solid;
	background-color:#FFFFFF;
}

.goods-small ul li .pic {
	width:130px;
	height:130px;
	text-align:center;
	overflow:hidden;
	float:left;
}
.goods-small ul li .title {
	width:380px;
	height:130px;
	float:left;
	margin-left:15px;
	overflow:hidden;
}
.goods-small ul li .title .H {
	color:#FF99CC;
}
.goods-small ul li .title h2 {
	height:48px;
	line-height:24px;
}
.goods-small ul li .title h2 A:link {
	COLOR: #008EF2;
	font-size:14px;
	TEXT-DECORATION: none;
	font-weight:normal
}
.goods-small ul li .title h2 A:visited {
	COLOR: #008EF2;
	font-size:14px;
	TEXT-DECORATION: none;
	font-weight:normal
}
.goods-small ul li .title h2 A:active {
	COLOR: #FF99CC;
	font-size:14px;
	TEXT-DECORATION: underline;
	font-weight:normal
}
.goods-small ul li .title h2 A:hover {
	COLOR: #FF99CC;
	font-size:14px;
	TEXT-DECORATION: underline;
	font-weight:normal
}
.goods-small ul li .title p {
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#999999;
}
.goods-small ul li .title p img{
	vertical-align: middle;
	border:0;
}
.goods-small ul li .rightdetail {
	float:left;
	width:500px;
	margin-top:5px;
}
.goods-small ul li .jiage {
	width:180px;
	height:40px;
	float:left;
	overflow:hidden;
}
.goods-small ul li .jiage b {
	color:#FF99CC;
	font-size:16px;
	font-family:Verdana;
}
.goods-small ul li .fanxian {
	width:180px;
	height:40px;
	float:left;
	overflow:hidden;
}
.goods-small ul li .fanxian b {
	color:#0AB025;
	font-size:16px;
	font-family:Verdana;
}
.goods-small ul li .city {
	width:135px;
	height:40px;
	float:left;
}
.goods-small ul li .baozhang {
	width:80px;
	height:40px;
	float:left;
}
.goods-small ul li .bijia {
	width:75px;
	height:25px;
	display:block;
	background:url(../images/tao/qugoumai.png) no-repeat;
}
.goods-small ul li .goumai {
	width:83px;
	height:25px;
	line-height:25px;
	display:block;
	color:#FFFFFF;
	margin-top:15px;
	background:url(../images/tao/qugoumai2.png) no-repeat;
}
.goods-small ul li .goumai span {
	padding-left:18px;
}
.goods-small ul li .fanmi p a:hover {
	text-decoration:none;
}
.goods-small ul li .fanmi {
	width:400px;
	height:40px;
	float:right
}
.goods-small .list-bg {
	width:1200px;
	height:15px;
	clear:both;
	font-size:0px;
}
/* 关键词样式 */
.top_gjc{float:left;width:1200px; height:60px; line-height:30px; margin:2px auto;font-size:24px;color:#000;}
.gjc1{float:left;width:1000px; height:40px; line-height:40px;margin-top:10px; margin:-2px auto;font-size:24px;color:#000;overflow:hidden;}
.gjc1 span{ height:40px; line-height:30px;margin-top:-5px; margin:0px auto;font-size:14px;color:#999;margin-left:10px;}
.gjc2{float:left;width:700px; height:40px; line-height:35px; margin:2px auto;font-size:18px;color:#000;overflow:hidden;}
.gjc2 li {float:left;display:inline;padding:0 15px;}
.gjc3{float:right;width:200px; height:40px; line-height:30px; margin:6px auto;font-size:14px;}
.gjc3 li {float:left;width:70px;height:21px;line-height:21px;text-align:center;margin-left:20px;}
.gjc3 .on {background:url(../images/tao/top_bg.gif) no-repeat;}
.gjc3 .on a {text-decoration:none;outline:none;}
.gjc3 .on a:link {color:#FFFFFF;}
.gjc3 .on a:visited {color:#FFFFFF;}
.gjc3 .on a:hover {color:#FFFFFF;text-decoration:underline;}


/*  购物返现开始 */
.gouwufanxian{text-align:left;width:1198px; border-radius:5px; margin:10px 0 0 0; padding:0; height:auto; background-color:#fff;overflow:hidden}
.gwbiaoti h3 {
	margin:10px 0 0 -6px;
	padding:0 0 0 20px ;
	float:left;
	width:240px;
	height:39px;
	background-image:url(../images/tmainback.gif);
	line-height: 33px;
	color:#FFFFFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.fusearch { float:center;margin:25px 0 0 50px;  width:1158px;   clear:both;}
.fusearch1 { margin:8px 0 0 0; padding:0; width:1150px; float:left; clear:both;}
.fusearch1 .fusearchkang{ background-color:#FFD2D2;font-size:20px; width:900px;border:0; height:30px;padding:10px; line-height:30px; margin-right:10px;color:#ff6699;}
.fusearch1 ul{ margin:8px 0 0 0; padding:0; background-color:#339999;}
.fusearch1 li{ float:left;font-size:13px; width:80px;color:#FF99CC;margin:10px 0 10px 0px;}
.fusearch1 .fusearchbt{ width:160px; height:50px; background:#ff6699;color:#fff;font-size:23px;font-weight:bold; border:0; vertical-align:bottom; }
.fusearch1 .fusearchbt:hover{ width:160px; height:50px; background:#ff6699;color:#fff;font-size:23px;font-weight:bold; border:0; vertical-align:bottom; }
	



/*商城样式*/
.brand{width:100%;background:#fff;overflow:hidden;padding-bottom:15px}
.brands{position:relative;height:218px;padding:20px 0 0 20px;overflow:hidden}
.brands li{float:left;width:175px;height:100px;margin:0 19px 10px 0;overflow:hidden;border:1px solid #f7dfe6}
.brands li a{position:relative;display:block;width:175px;height:100px;background:#fff;overflow:hidden}
.brands li a:hover{text-decoration:none}
.brands li span{display:block;width:175px;height:68px;vertical-align:middle;overflow:hidden}
.brands li span img{display:block;margin:5px 0 0 39px;width:100px;height:58px;overflow:hidden}
.brands li em,.brands li b{display:block;width:100%;text-align:center;font-weight:normal;background:#faf5f7;height:32px;line-height:32px;overflow:hidden}
.brands li b{position:absolute;left:0;bottom:-30px;background:#f15;color:#fff;height:30px}
.brands li:hover,.brands li.hover{border:3px solid #ff6699;width:171px;height:96px}
.brands li:hover a,.brands li.hover a{width:171px;height:96px;cursor:pointer}
.brands li:hover span,.brands li.hover span{width:171px;height:66px}
.brands li:hover span img,.brands li.hover span img{margin:3px 0 0 37px}
.brands li:hover em,.brands li:hover b,.brands li.hover em,.brands li.hover b{height:30px;line-height:30px;background:#ff6699;color:#fff}