

.new-icon{  background: url(../images/vip/new.png) no-repeat 0 0;
  height: 48px;
  overflow: hidden;
  padding-top: 48px;
  width: 56px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}
/*首页全局样式*/
.mainvipduo {margin:0 auto;padding:0;}
.mainindex{margin:0 auto;padding:0;width:1200px;overflow:hidden; }
.top_wrap{ margin-left: auto;
    margin-right: auto;
    width: 1200px;_height:1px;_overflow:hidden;}
.top_wrap .top_box {
    position: relative;
    width: 100%;
	height:0;
}

.top_wrap .banner_l{
    position: relative;
    top: -240px;
    z-index: 10;
	width:240px;
	display:block;
}
.top_wrap .banner_l dl{width:240px;height:240px;overflow:hidden;box-shadow:0 -3px 2px rgba(102, 102, 102,.15);}
.top_wrap .banner_l dl dd{position:relative;width:240px;height:120px;border-bottom:#dedbd5 solid 1px;overflow:hidden;}
.top_wrap .banner_l dl dd a{
    display: block;
    height: 120px;
    width: 240px;
	background:#fff;}
.top_wrap .banner_l dl dd a img{
    display: block;
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 245px;
	transition: all 0.3s ease 0s;
}
.top_wrap .banner_l dl dd a:hover img{left:-5px;}
.top_wrap .banner_l dl dd .txt{position:absolute;top:25px;left:20px;width:95px;}
.top_wrap .banner_l dl dd .txt span{display:block;color:#333;white-space:nowrap;}
.top_wrap .banner_l dl dd .txt span.title{border-bottom:#333 solid 1px;font-family:"微软雅黑","宋体";font-size:24px;font-weight:bold;margin-bottom:5px;}
.top_wrap .banner_l dl dd .txt.other span.title{border-color:#710c93;color:#710c93;}
.top_wrap .banner_l dl dd .txt span em{color:#fff;font-weight:bold;display:inline-block;background:#ff3366;padding:0 4px;margin:0 2px;border-radius:10px;}
.banner_arrow {
}
.banner_arrow .arrow_prev,.banner_arrow .arrow_next {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: block;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    position: absolute;
    top:-140px;
    width: 29px;
    z-index: 12;
}
.banner_arrow .arrow_prev{left:240px;}
.banner_arrow .arrow_next{right:0;}
.banner_arrow .arrow_prev:hover,.banner_arrow .arrow_next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.banner_arrow .arrow_prev i,.banner_arrow .arrow_next i {
    background:url(../images/global/arrow.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 21px;
    margin: 12px 0 0 9px;
    overflow: hidden;
    width: 13px;
}
.banner_arrow .arrow_prev i{background-position:top left;}
.banner_arrow .arrow_next i{background-position:top right;}
.top_wrap .banner_r{
    height: 240px;
    position: absolute;
    right: 0;
    top:-240px;
    width: 241px;
    z-index:10;
	background:#e8e8e8;
	box-shadow:0 -3px 2px rgba(102, 102, 102,.15);
}
.top_wrap .banner_r dl{width: 242px;height:240px;overflow:hidden;}
.top_wrap .banner_r dl dd{float:left;display:inline;width:120px;height:120px;overflow:hidden;margin:0 1px 1px 0;}
.top_wrap .banner_r dl dd img{width:120px;}
.top_wrap .banner_r dl dd a:hover{opacity:.8;filter:alpha(opacity=80);}
.top_wrap .round {
    position: absolute;
    margin-right:-210px;
    top:-25px;
    width:200px;
	right:50%;
}
.top_wrap .round .adType {
    text-align:center;
}
.top_wrap .round .adType a {
    background:#e2e2e2;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-right:7px;
    width: 10px;
	overflow:hidden;
}
.top_wrap .round .adType a.current {
    background:#ff2d5e;
}

/*首页幻灯片样式*/
.mainbanner{height:265px;overflow:hidden; position:relative;}
.mainbanner_window{left:50%;width:2000px;height:265px;overflow:hidden;margin-left:-1000px;position:absolute;}
.mainbanner_window ul{width:999999px;height:325px;position:relative;}
.mainbanner_window li{background:rgb(204, 204, 204);width:2000px;height:265px;text-align:center;font-size:0px;float:left;display:inline;}
.mainbanner_list{left:50%;top:245px;width:500px;height:30px;margin-left:-35px;position:absolute;}
.mainbanner_list li{width:20px;height:20px;overflow:hidden;float:left;display:inline;}
.mainbanner_list a{background:#ddd;border-radius:50%;width:12px;height:12px;line-height:12px;overflow:hidden;text-align:center;color:rgb(255, 255, 255);font-size:12px;font-weight:700;float:left;display:inline-block;}
.mainbanner_list li.active a{background:#f8285c;border-radius:50%;}
.mainbanner_list li a:hover{background:#f8285c;border-radius:50%;}

.mainbanner2{height:5px; position:relative;}
.kaiqi {
	position:absolute;
	left:50%;
	margin:2px 0px 0px 610px;
	width:49px;
	height:21px;
	background:url("../images/kaiqi.png");
	cursor:pointer;
}
.guanbihdp {
	position:absolute;
	left:50%;
	margin:8px 0px 0px 550px;border-radius:50%;
	width:40px;height:40px;background: url(../images/index/cha.png) no-repeat;display: block;
	cursor:pointer;
}
.guanbihdp:hover {
	position:absolute;
	left:50%;
	margin:8px 0px 0px 550px;border-radius:50%;
	width:40px;height:40px;background: url(../images/index/cha2.png) no-repeat;display: block;
	cursor:pointer;
}

.fl { float: left; display: inline }
.fr { float: right; display: inline }
.new-brand{ width:1200px; margin:0 auto; margin-top:15px;height:40px;line-height:40px;overflow:hidden;margin-bottom:20px;border-bottom:#333 solid 1px;}
.new-brand .brand-title{height:40px;line-height:40px;overflow:hidden;margin-bottom:20px;border-bottom:#333 solid 1px;}
.new-brand .brand-title h3{background:url(../images/index/brand-title-bg.png) no-repeat right top #333;font-size:14px;font-weight:normal;padding:0 50px 0 10px;}
.new-brand .brand-title h3 a{color:#fff;}
.new-brand .brand-title .time{background:url(../images/index/brand-time-bg.png) no-repeat right top #ffdde5;padding-right:45px;}
.new-brand .brand-title .time i{font-size:14px;font-family:arial;vertical-align:middle;margin:0 1px;}
.new-brand .brand-title em.icon{background:url(../images/index/brand-total.gif) no-repeat;}
.new-brand .brand-title em.icon.brand{width:20px;height:20px;margin:10px 10px 0 0;}
.new-brand .brand-title em.icon.brand.nvzhuang{background-position:0 -1px;}
.new-brand .brand-title em.icon.brand.nanzhuang{background-position:-21px -1px;width:22px;}
.new-brand .brand-title em.icon.brand.jujia{background-position:-46px -1px;width:24px;}
.new-brand .brand-title em.icon.brand.muying{background-position:-69px -1px;height:22px;}
.new-brand .brand-title em.icon.brand.meishi{background-position:-89px -1px;width:22px;}
.new-brand .brand-title em.icon.brand.xiezi{background-position:-110px -1px;width:24px;}
.new-brand .brand-title em.icon.brand.meizhuang{background-position:-135px -1px;width:22px;}
.new-brand .brand-title em.icon.brand.shuma{background-position:-163px -1px;width:22px;}
.new-brand .brand-title em.icon.brand.wenti{background-position:-1px -64px;width:22px;height:22px;}
.new-brand .brand-title em.icon.brand.xiangbao{background-position:0 -91px;width:22px;}
.new-brand .brand-title em.icon.brand.peishi{background-position:0 -112px;width:22px;}
.new-brand .brand-title em.icon.clock{width:14px;height:14px;background-position:0 -26px;margin:14px 6px 0 0;}
.new-brand .brand-title em.icon.brand-other{width:13px;height:13px;background-position:0 -44px;margin:14px 6px 0 0;}
.new-brand .brand-title a.see-more{font-size:14px;}
.new-brand .brand-title a.see-more:hover{color:#f36;text-decoration:none;}
.gjc{ float:right}
.gjc a{font-size:13px; padding-right:20px}

/*商城返利*/
.tb_topcont{width:1200px;margin:0px auto;overflow:hidden; margin-top:15px; }
.tb_topl{float:left;width:908px;height:240px; padding:15px;background:#FFF;border-radius:4px;position:relative; }
.tb_topr{float:right;width:250px;height:270px;background:#FFF;border-radius:4px; position:relative;overflow:hidden;}

.mall-list{padding-left:2px;width:925px;}
.mall-list li{float:left;margin-right:11px;margin-bottom:10px;width:120px;height:115px;background:#f8f8f8;position:relative;}
.mall-list li a{height:55px;padding-top:0px;display:block;text-align:center;padding-top:15px;}
.mall-list li a img{vertical-align:middle;text-align:center;width:93px;height:45px;display:block;margin:0 auto;}
.mall-list li span{width:120px;margin-top:10px;display:block;text-align:center;font-size:12px;color:#808080;}
.mall-list li span em{color:#ff5a2c;padding-left:5px;}
.mall-list li.next a{width:23px;height:54px;background:url(../images/index/taofan-step.gif) no-repeat;display:block;margin-top:15px;background-position:-71px 0px;margin-left:45px;padding-top:0;}
.mall-list li.next a:hover{width:23px;height:54px;background:url(../images/index/taofan-step.gif) no-repeat;display:block;margin-top:15px;background-position:0px 0px;margin-left:45px;padding-top:0;}

.mall-sc { width:120px; height:115px; background-color:rgb(0,0,0.6); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000');
position:absolute; left:0px; top:0px; overflow:hidden }
.mall-sc { background-color: rgba(0, 0, 0, 0.5); filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#B2000000', EndColorStr='#B2000000');
}
.mall-names { width:120px; float:left;font-weight:500;}
.mall-names span.sub-names { font-size:14px;font-weight:bold; color:#fff; }
.mall-names span.sub-fanli { font-size:12px; color:#fff;margin-top:-3px;  }
.mall-names span.sub-fanli em { color:#ff5a2c; font-weight:bold;}
.mall-names a.mall-flxq, .mall-names a.mall-nowbuy { float:left;  width:120px;height:25px;line-height:25px;font-size:12px; display:block; color:#fff; text-align:center; padding:0px; }
.mall-names a.mall-flxq { background:#ff6699; }
.mall-names a.mall-flxq2, .mall-names a.mall-nowbuy { float:left;margin-top:20px;  width:60px;height:25px;line-height:25px;font-size:12px; display:block; color:#fff; text-align:center; padding:0px; }
.mall-names a.mall-flxq2 { background:#a49b93; }
.mall-names a.mall-flxq2:hover { background:#958c85; text-decoration:none; }
.mall-names a.mall-nowbuy { background:#e83434; }
.mall-names a.mall-nowbuy:hover { background:#d81e1e; text-decoration:none; }

/*会员登陆*/
.m-body{height:160px; font-family:"微软雅黑"}
.unlogged{padding:14px 0 14px 25px;background:url(../images/index/intro_bak.png) no-repeat right top;}
.unlogged p{padding-bottom:5px;overflow:hidden;color:#5d5d5d;font-size:12px;line-height:25px}
.unlogged a.login1:hover{color:#000;}
.unlogged a.register2:hover{opacity: 0.8;}
.unlogged a{color:#fff; font-size:14px; text-align:center}
.unlogged a:hover{color:#fff}
.unlogged a.auth{font-size:12px;width:35px;height:25px;padding-left:15px;text-align:center}
.unlogged a.auth:hover{color:#5d5d5d;text-decoration:none}
.unlogged a.n-taobao-conn{background-position:-14px -11px}
.unlogged a.n-qq-conn{background-position:-7px -49px}
.unlogged a.n-sina-conn{background-position:-13px -86px}

.shihui{width:220px;margin-top:15px; margin-left:20px; padding-top:10px;overflow:hidden;height:80px;border-top:1px dotted #ddd;}
.shihui li{width:210px; line-height:25px;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;}
.logged a.i-conn{background-position:-37px -580px;display:inline-block;height:32px;line-height:32px;padding-left:27px;text-align:center;width:70px;color:#777}

.logged{padding:15px 10px;background:url("../images/index/intro_bak.png") no-repeat scroll right top}
.logged a{color:#fff; font-size:14px; text-align:center}
.logged a:hover{color:#fff}
.logged ul{list-style-type:disc;color:cecece;margin:10px 0 8px 15px;border-top:1px dotted #ddd; padding-top:10px; font-size:14px }
.logged li.current{color:#ff7b00}
.logged li{height:30px}
.logged li a{height:35px;line-height:35px;overflow:hidden;display:inline-block;color:#999}
.logged a.register2{display:inline-block; margin-top:15px;width:80px;height:30px;border:1px solid #ddd;background-color:#fff;line-height:2.2;margin-right:20px;text-decoration:none;border-radius:4px;color:#666}
.logged a.register2:hover{display:inline-block; margin-top:15px;width:80px;height:30px;border:1px solid #ff5151;background-color:#ff5151;line-height:2.2;margin-right:20px;text-decoration:none;border-radius:4px;color:#fff}

.third-box{ margin-top: 20px;*margin-top: 0px;}
.third-box a{ display: block;float:left;width: 24px; height: 24px;background: url(../images/index/new-login.gif) no-repeat; margin-right: 10px; position:relative; overflow:hidden }
.third-box .weixin{ background-position:-210px -194px;}
.third-box .weixin:hover{background-position:-236px -194px;}
.third-box .tb{ background-position:0 -140px;}
.third-box .sina{ background-position:0 -169px;}
.third-box .qq{ width:72px; height:24px; background-position:right -166px;}
.third-box .tb:hover{ background-position:-27px -140px;}
.third-box .sina:hover{ background-position:-27px -169px;}
.third-box .qq:hover{ background-position:right -140px;}
.third-box .more{ color: #999; font-size: 12px; background: none;line-height: 24px; float: none;}



.new-users ul li i{ display:block; background:url(../images/index/header-total.gif) no-repeat;}
.new-users{width:1200px;margin:30px auto 30px;}
.new-users ul li{display:inline;float:left;font-size:16px;font-family:"微软雅黑","宋体";margin-left:25px;line-height:42px;margin-bottom:20px;}
.new-users ul li i{display:inline;float:left;width:42px;height:42px;margin-right:10px;}
.new-users ul li i.f{background-position:right -103px;}
.new-users ul li i.s{background-position:right -146px;}
.new-users ul li i.t{background-position:right -189px;}
.new-users ul li span{display:inline;float:left;color:#333;}
.new-users ul.only{margin-left:330px;}
.new-users .update-time{height:38px;font-family:"微软雅黑","宋体";margin-right:20px;}
.new-users .update-time .txt{line-height:20px;text-align:right;color:#333;font-size:18px;width:130px;height:38px;}
.new-users .update-time .txt span{font-size:14px;color:#666;}
.new-users .update-time .times span em{display:inline-block;height:38px;width:30px;text-align:center;background:#ff517d;font-size:24px;color:#fff;text-align:center;line-height:38px;font-size:20px;}
.new-users .update-time .times span i{font-size:14px;color:#666;margin:0 10px;}

.new-icon{background:url(../images/index/new.png) no-repeat 0 0;height:0;overflow:hidden; padding-top:37px; width: 37px;position:absolute;top:0; left:0;z-index:15;}
.main1200{width:1200px;margin: 0px auto}
.goods-list li .good-price .des-other .icon-gai,.goods-list li .good-price .des-other .icon-fan,.goods-list li .good-price .btn a em,.goods-list li.hover .good-price .btn a,.goods-list li .good-price .btn.start a,.goods-list li .good-price .btn.start_1 a,.goods-list li .like-ceng .iphone-ico{background:url(../images/index/list-total.png) no-repeat;}
.goods-list{ margin: 0px auto 0;width:1230px;}
.goods-list li{width:285px;background:#FFF;float:left;margin:0 18px 18px 0;border:#f6f6f6 solid 1px;}
.goods-list li:hover{box-shadow:4px 4px 20px #d2d2d2;border:#f6f6f6 solid 1px;}
.goods-list li .good-pic {width:285px; margin:auto 0; position: relative; height: 285px;}
.goods-list li .pic-img{ height:285px; overflow:hidden; text-align:center; width:285px; display:table-cell; vertical-align:middle;}
.goods-list li .pic-img img{ max-width:285px;max-height:285px;}
.goods-list li .pic-img:hover{ text-decoration:none; cursor:pointer;opacity:.8;filter:Alpha(opacity=60);}
.goods-list li .buy-over{cursor:pointer;position:relative;display:block;position:absolute;top:80px;left:80px;background:url(../images/index/buy-over.png) no-repeat;height:0;width:120px;padding-top:120px;overflow:hidden;z-index:15;}
.goods-list li .buy-over.brand{background:url(../images/index/buy-over-brand.png) no-repeat;}
.goods-list li .buy-over a{display:block;position:absolute;bottom:25px;left:30px;color:#ffff66;font-size:14px;}

.goods-list li .list-good {position: relative; width:285px; height:auto; z-index:1;}
.goods-list li .good-title {width:270px;height:18px; font-family:"宋体"; line-height:18px;overflow: hidden;margin:10px 15px 15px 15px; position:relative; font-weight:normal;color:#333;}
.goods-list li .good-title a{ display: inline;color:#333;letter-spacing:1px;}
.goods-list li .good-title a:hover{ text-decoration:underline; color:#333;}
.goods-list li .good-title span.sold{display:block;color:#bbb;position:absolute;top:0;right:10px;height:18px;text-align:right;}
.brand{background:url(../images/index/brand.png) no-repeat 0 0}
.brand-new{background:url(../images/index/float-icon.png) no-repeat 0 0; padding-top:2px; height:35px; width: 37px; color:#fff; text-align:center; line-height:14px;position:absolute;top:0; left:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',src="../images/index/float-icon.png");}
.brand-new.brand{background:url(../images/index/brand-icon.png) no-repeat 0 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop',src="../images/index/brand-icon.png");}
/*this is good-price by mumian*/
.goods-list li .good-price { width:270px; height:48px;line-height:40px; position: relative;padding:0 10px 0px 10px; z-index:10;}
.goods-list li .good-price .price-current,.goods-list li .good-price .des-other{ display:block; float:left;}
.goods-list li .good-price .price-current {font-size:36px;font-family:Arial; font-weight:500}
.goods-list li .good-price .price-current em {font-size: 14px; font-family:"微软雅黑"; vertical-align:1px; margin-left:1px;}
.goods-list li .list-good.buy .good-price .price-current{ color:#ff3366;}
.goods-list li .list-good.start .good-price .price-current{ color:#008800;}
.goods-list li .list-good.gone .good-price .price-current{ color:#ccc;}
/*this is des-other by mumian*/
.goods-list li .good-price .des-other{margin:-15px 0 0 5px;width:65px; *width:68px;height:50px; line-height:18px;}
.goods-list li .good-price .des-other strong{ width:auto; height:16px; display:block;}
.goods-list li .good-price .des-other .icon-gai,.goods-list li .good-price .des-other .icon-fan,.goods-list li .good-price .des-other .icon-temai{display:block;  height:0;  overflow:hidden;float:left;}
.goods-list li .good-price .des-other .icon-gai{ background-position:-151px 0;width:49px;padding-top:16px;}
.goods-list li .good-price .des-other .icon-fan{ background-position:-159px -17px; width:41px; padding-top:18px;margin-right:3px;}
.goods-list li .good-price .des-other .price-old {color: #bbb; text-decoration: line-through;font-size:14px;}
.goods-list li .good-price .des-other .price-old em{ font-family:"微软雅黑","verdana";font-size:12px;}
.goods-list li .good-price .des-other .discount { color: #fff;border-radius:2px; padding:0 2px 0 2px; vertical-align:top; background:#FF9966;}
.goods-list li .good-price .des-other .baoyou { color: #fff;border-radius:2px; padding:0 2px 0 2px;*padding:2px 2px 0 2px; vertical-align:top; background: #00CCFF;}
.goods-list li .good-price .btn{position: absolute;top:11px;right:10px;}
.goods-list li .good-price .btn a{ font-family:"宋体";display:block;text-align:center;font-size: 14px;cursor:pointer; color:#f8285c;width:70px;height:30px; line-height:30px;overflow:hidden;}
.goods-list li .good-price .btn a em{display:inline;float:left;width:15px;height:15px;margin:8px -4px 0 12px;margin:7px -4px 0 12px \9;_margin:7px -4px 0 12px;vertical-align:-2px;}
.goods-list li .good-price .btn a .m-icon{background-position:right -71px;}
.goods-list li .good-price .btn a .b-icon{background-position:right -37px;}
.goods-list li .good-price .btn a .j-icon{background-position:right -54px;}
.goods-list li .good-price .btn a .t-icon{background-position:right -88px;}
.goods-list li .good-price .btn.m-buy span{color:#c40000;}
.goods-list li .good-price .btn.t-buy span{color:#ff5400;}
.goods-list li .good-price .btn.buy,.goods-list li .good-price .btn.gone{right:0;}
.goods-list li .good-price .btn.start,.goods-list li .good-price .btn.start_1{right:-3px;top:3px;}
.goods-list li .good-price .btn.start a,.goods-list li .good-price .btn.start_1 a{width:83px;height:32px;padding-left:4px;background-position:0 -61px;color:#fff;line-height:34px;line-height:36px \9;_line-height:36px;}
.goods-list li .good-price .btn{cursor:default;float:right; margin-top:-5px;}
.goods-list li .good-price .btn a:hover{text-decoration:none;}
.goods-list li:hover .good-price .btn.buy a:hover{ background-position:0 -31px;}
.youfanli{ float:right;  background:url(../images/icon4.png) no-repeat;margin-top:8px;margin-left:210px;margin-right:10px;  }
.youfanli em{ float:right;font-size:13px; margin-left:18px;margin-top:-13px;color:#ff5151; }

.goods-list li .good-price .tejia{float:right; text-align:center;color:#fff;font-size:15px;background-position:0 -31px;width:70px;border-radius:3px;margin-top:10px;margin-bottom:8px;height:30px;line-height:30px;position:absolute; z-index:100px; bottom:5px; right:10px; _bottom:5px; display:none;
}
.goods-list li.li_on .good-price .tejia{
	display:block;
}
.goods-list li .good-pic .fanbiaoti{position:absolute;
	width:276px;
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:.5; padding:5px;
	opacity:.5; font-size:12px;
	height:15px;line-height:18px;
	bottom:0; color:#FFFFFF; overflow:hidden;
	left:0; text-align:center;
	display:none;
	*bottom:0px;display:none;
}

.goods-list li.li_on .good-pic .fanbiaoti{
	display:block;
}
.goods-list li .good-pic .fan{position:absolute;
	width:276px;font-size:12px;
	height:15px;line-height:18px; padding:5px;
	bottom:0; color:#FFFFFF; overflow:hidden;
	left:0; text-align:center;
	display:none;
	*bottom:0px;display:none;
}
.goods-list li.li_on .good-pic .fan{
	display:block;
}

.home-tab{border-bottom:1px solid #ddd;height:45px;width:1215px;background:#f2f2f2; display:block;}
.home-tab li{float:left;margin-right:10px}
.home-tab .home-tab-super{display:block; width:198px;height:45px;font-size:18px; border-bottom:0 none;line-height:45px;text-align:center;color:#333;cursor:pointer;white-space:nowrap;font-family:'Hiragino Sans GB','Microsoft YaHei','SimSun',sans-serif}
.ddgoods{ display:none}