.ShiftClass{ width:100px; height:30px;margin-top:10px; background:#FF5151;box-shadow: #CE0000 1px 1px,#CE0000 2px 2px,#CE0000 3px 3px;border:0; color:#FFFFFF; cursor:pointer; font-size:14px; font-weight: bold; }

.jf_duihuan{width:1200px;overflow:hidden;margin:auto;margin-bottom:15px;}
.jf_xx{width:1200px;border:1px #ddd solid;overflow:hidden;background:#FFF; margin:auto;margin-top:12px;margin-bottom:12px;}
.green12{
	color:#70BD00;
	font-size:12px;
}
.reg-box{height:35px;margin-top:25px;margin-left:25px;}
.font1{
	font-size:17px; color:#FD5699; font-weight:bold;
}
.font2{ background:#f2f2f2; float:left; font-weight:500;border:#e9e9e9 solid 1px;
	font-size:13px; color:#ff6699; padding:6px 16px 6px 16px;border-radius:3px;margin-left:15px;margin-top:-5px;
}
.red12{
  color:#FF5151;
}

.C_999999{
 color:#999999;
}

.red12blod{
   color:#FF5151;
   font-weight:bold;
}

.red14blod{
   color:#FF5151;
   font-weight:bold;
   font-size:14px;
}
.rm_t{
	width:100%; 
	background:#FFF;
}
.rmt1{width:470px;height:176px;border-right:1px dashed #e1e1e1; padding-left:20px; padding-bottom:10px;overflow:hidden;
}
.rmt2{width:499px;height:176px; padding-left:30px; padding-bottom:10px;overflow:hidden;
}

.rm_t .title{
	width:470px; float:left;
	font-size:16px; font-weight:bold; padding-top:13px;padding-left:20px;
}
.rm_t .more{
	width:120px; float:left; padding-top:12px; padding-right:20px;
	text-align:right;
}

.rm_body{
	width:595px; margin-left:auto; margin-right:auto; padding-top:16px;
}
.rm_body .img{
	width:99px; height:99px; float:left;
	background:url(../images/huan/jfblogo.gif) no-repeat;margin-top:3px; margin-left:11px; _display:inline;
}
.rm_body .img1{
	width:99px; height:99px; float:left;
	background:url(../images/huan/shouji.jpg) 0px -99px no-repeat; margin-left:11px; _display:inline;
}
.rm_body .txt{
	padding-left:20px;
	width:360px; float:left; color:#666666;overflow:hidden; 
}
.rm_body .rm_title{
	font-size:16px; color:#F25497; font-weight:bold; width:490px;padding-top:5px;
}
.rm_body .rm_title1{
	font-size:16px; color:#2A7AB7; font-weight:bold; width:490px;
}
.rm_body .rm_txt{
	padding-top:10px; width:490px;
}
.rm_body .rmbtn{
	width:102px; height:39px; float:left; padding-top:12px; padding-bottom:10px;
}
.rm_body .rmbtn p{
	width:102px; height:39px; cursor:pointer; background:url(../images/huan/sq.gif) no-repeat;
}
.rm_body .rmbtn a:link p{	
	background-position:0px 0px;
}
.rm_body .rmbtn a:visited p{	
	background-position:0px 0px;
}
.rm_body .rmbtn a:hover p{	
	background-position:0px -40px;
}

.rm_body .rmbtn1{
	width:102px; height:39px; float:left;  padding-top:12px;
}
.rm_body .rmbtn1 p{
	width:102px; height:39px; cursor:pointer; background:url(../images/huan/cz.gif) no-repeat;
}
.rm_body .rmbtn1 a:link p{	
	background-position:0px 0px;
}
.rm_body .rmbtn1 a:visited p{	
	background-position:0px 0px;
}
.rm_body .rmbtn1 a:hover p{	
	background-position:-102px 0px;
}

.rm_body .rmbre{
	width:230px; float:left; padding-left:8px;  padding-top:22px;
}

.tag_left {
	width:1200px;
	float:left;
	overflow:hidden;
}
.tag_left2 {
	width:1200px;padding-bottom:20px;
	float:left;margin-bottom:12px;
	background-color:#FFFFFF;
	overflow:hidden;
}
.banner_left {
	width:725px; height:215px;
	border:1px #ddd solid;
	float:left;
	overflow:hidden;
	padding-bottom:20px;
	margin-bottom:12px;
	background-color:#FFFFFF;
}
.banner_left .banner {
	margin-top:15px;
	margin-left:16px;
}

.tag_right {
	width:265px;
	overflow:hidden;
	float:left;
	margin-left:10px;
}
.green12 {
	color:#70BD00;
	font-size:12px;
	font-weight:bold;
}
.red12 {
	color:#FF5151;
}
.red12blod {
	color:#FF5151;
	font-weight:bold;
}
.red14blod {
	color:#FF5151;
	font-weight:bold;
	font-size:14px;
}
.jifenview{background-color:#fff;
	width:1170px; margin-top:15px;
	height:300px; padding:15px
}
.jifendaohang{
	width:100%;
	height:50px;line-height:50px;background-color:#fff;
}
.jifendaohang .tag_nav { margin: 0 auto;
	width:1177px;padding:14px 10px 10px 10px;
	height:50px;
}
.jifendaohang .tag_nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
	position:absolute;
}
.jifendaohang .tag_nav ul li {
	float:left;font-size:15px;
	color:#666;padding-left:7px;padding-right:7px;
	height:20px;margin-left:20px;
	line-height:20px; font-family:"Î¢ÈíÑÅºÚ";
	cursor:pointer;
}
.jifendaohang .tag_nav ul li:hover {padding-left:7px;padding-right:7px;
	background-color:#FF2D2D;line-height:22px;height:22px;
	color:#FFf;border-radius:3px;
	font-size:15px;
}
.jifendaohang .tag_nav ul .active {padding-left:7px;padding-right:7px;
	background-color:#FF2D2D;border-radius:3px;
	color:#FFf;line-height:22px;height:22px;
	font-size:15px;
}
.jf_user {
	height:63px;
	padding-left:12px;
	padding-top:22px;
	width:251px;
	margin-bottom:10px;
	background-color:#FFFFFF;
	border:1px #E3E3E3 solid;
}
.jf_user .head {
	width:49px;border-radius:24px;
	height:49px;
	float:left;
	_display:inline;
}
.jf_user .head .img{
	width:48px;border-radius:24px;
	height:48px;
	float:left;
	_display:inline;
}
.jf_user .txt {
	width:180px;
	height:48px;
	padding-top:4px;
	margin-left:9px;
	line-height:24px;
	float:left;
}

.jf_list {
	width:207px;
	margin-left:19px;
	margin-top:20px;
	overflow:hidden;
}
.jf_list .title {
	width:207px;
	height:15px;
	font-size:14px;
	font-weight:bold;
	color:424242;
}
.l{
    float:left;
	width:190px; 
	overflow:hidden;
}
.r{
	float:left;
}
.jf_list ul {
	margin:0px;
	padding:0px;
}
.jf_list ul li {
	margin:0px;
	padding:0px;
	width:207px;
	height:58px;
	border-bottom:solid 1px #E5E5E5;
	list-style:none;
	margin-top:7px;
}
.jf_list ul li .head {
	width:48px;
	height:48px;
	float:left;
	_display:inline;
}
.jf_list ul li .txt {
	width:148px;
	height:48px;
	float:left;
	color:#BFBFBF;
	margin-left:10px;
	line-height:24px;
}
.jf_list ul li .txt a {
	color:#009ED9;
}
.jf_goods {
	overflow:hidden;
	margin-top:15px;
}
.jf_goods ul {width:1220px;
	padding:0px;
	margin:0px;
}
.jf_goods ul li {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-bottom:18px;
	padding-left:5px;
	padding-top:5px;
	height:365px;
	width:278px;
	float:left; border: #eee solid 1px;
	_display:inline;
	margin-right:20px;
	background-color:#fff;
}
.jf_goods ul li:hover {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-bottom:18px;
	padding-left:5px;
	padding-top:5px;
	height:365px;
	width:278px;
	float:left;
	_display:inline;
	margin-right:20px;opacity:.8;filter:Alpha(opacity=60);
}
.jf_goods ul li .goods_img {
	width:255px;padding:10px;
	height:255px;
}
.jf_goods ul li .title {
	width:260px;
	margin-left:12px;
	margin-top:10px;
	overflow:hidden;
	height:20px;font-size:14px;
}
.jf_goods ul li .infor {
	width:170px;
	margin-left:12px;
	height:40px;
	margin-top:10px;
	color:#999999;
	line-height:40px;
	float:left;
	_display:inline;
}
.jf_goods ul li .btn {
	width:78px;
	height:31px;
	float:left;
	margin-top:15px;
}
.jf_goods ul li .btn a p {
	width:78px; height:31px;
	background:url(../images/huan/wyh.png) no-repeat;
	cursor:pointer;
}
.jf_goods ul li .btn a:link p {
	width:78px; height:31px;
	background:url(../images/huan/wyh.png) no-repeat;
}
.jf_goods ul li .btn a:visited p {
	width:78px; height:31px;
	background:url(../images/huan/wyh.png) no-repeat;
}
.jf_goods ul li .btn a:hover p {
	background:url(../images/huan/wyh2.png) no-repeat;
}
#syts {
	position:absolute;
	width:62px;
	height:61px;
	z-index:3;
	background-image: url(../images/huan/huan_mai.gif);
	background-repeat: no-repeat;
}
#sgq {
	position:absolute;
	width:62px;
	height:61px;
	z-index:3;
	background-image: url(../images/huan/huan_guoqi.gif);
	background-repeat: no-repeat;
}
#wks {
	position:absolute;
	width:62px;
	height:61px;
	z-index:3;
	background-image: url(../images/huan/huan_wks.gif);
	background-repeat: no-repeat;
}
#swts {
	position:absolute;
	width:62px;
	height:61px;
	z-index:3;
	background-image: url(../images/huan/huan_wan.gif);
	background-repeat: no-repeat;
}
/*¶Ò»»¶¯Ì¬*/
.dhdt {
	width:231px;
	height:360px;
	padding-left:12px;
	padding-top:12px;
	margin-bottom:10px;
	background-color:#FFFFFF;
	border:1px #E3E3E3 solid;
}
.dhdt .title {
	width:207px;
	height:15px;
	font-size:14px;
	font-weight:bold;
	color:424242;
}
.dhdt_list {
	height:320px;
	margin-top:10px;
	overflow:hidden;
}
.dhdt_list li {
	width:210px;
	height:55px;
	float:left;
	padding-top:8px;
	border-bottom:1px dashed #cecbc4;
}
.dhdt_list li div {
	padding-left:10px;
	float:left;
	width:155px;
	overflow:hidden;
}
.dhdt_list li div a {
	display:block;
	width:155px;
	height:17px;
	line-height:17px;
	overflow:hidden;
}
.dhdt_list li .img {
	background:#FFFFFF;
	width:40px;
	height:40px;
	padding:1px;
	border:solid 1px #cccccc;
	float:left;
}
.dhdt_list li a {
	line-height:1.8em;
}
.dhdt_list p {
	color:#999999;
	WORD-BREAK: break-all;
	line-height:2em;
	height:25px;
	overflow:hidden;
}
.dhdt_list p * {
	vertical-align:middle;
}
/*¶Ò»»ÏêÏ¸Ò³Ãæ*/
.gift-detail {
	margin-top:30px;
	margin-left:30px;
	margin-bottom:30px;
}
.gift-img {
	float:left;
	width:260px;
	height:200px;
	text-align:center;
	padding:1px;
}
.gift-info {
	float:left;
	width:383px;
	margin-left:25px;
}
.gift-info ul {
	margin:0;
	padding:0;
	list-style:none;
}
.gift-info li {width:383px;
	line-height:35px; font-size:14px;
}
.gift-info strong {
	padding-right:5px;
	font-weight:normal;
	color:#666;
}
.gift-info .green {
	margin-left:10px;
}
.gift-name {
	margin:0;
	font-size:16px;
	font-weight:bold;
	height:40px; color:#FF5151;
	line-height:40px;
}
.ex-price {
	width:250px;
	display:inline-block;
	zoom:1;
*display:inline;
	color:#666;
}
.ex-price strong {font-size:16px;
	padding-right:5px;
	font-size:18px;
	font-weight:bold;
	color:#FF5151;
}
.ex-already {
	color:#999;
	margin-left:10px;
}
.btn-exchange {
	height:32px;
	margin:10px 0 0;
}
.btn-exchange a {
	float:left;
	width:118px;
	height:32px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.btn-token {
	background:url(../images/huan/huan_btn_exchange.png) no-repeat;
	margin-right:20px;
}
.btn-fanli {
	background:url(../images/huan/huan_btn_exchange.png) no-repeat -118px 0;
}
.btn-token-d {
	background:url(../images/huan/huan_btn_exchange.png) no-repeat 0 -32px;
	margin-right:20px;
	cursor:default;
}
.btn-fanli-d {
	background:url(../images/huan/huan_btn_exchange.png) no-repeat -118px -32px;
	cursor:default;
}
.gift-title {
	margin-left:15px;
	margin-right:15px;
	margin-top:10px;
	padding-left:10px;margin-bottom:10px;
	font-size:16px; 
	font-weight:bold;
	line-height:40px;
	border-bottom:1px #ff5151 dashed;
}
.gift-content {
	padding:10px 50px;
	line-height:25px;
}
.gift-content h4 {
	font-size:14px;
	font-weight:bold;
}
.gift-content ul {
	margin:10px 0;
	padding:0;
	list-style:none;
}
.gift-content ul ul {
	margin:0 0 0 20px;
}
.gift-content ol {
	margin:0;
	padding:0;
	list-style:none;
}
.gift-content ol li {
	overflow:hidden;
}


.tooltip {
	width:380px;
	padding:15px;
	border:1px solid #F3C964;
	background-color:#FFFBEC;
	-webkit-box-shadow:rgba(229, 229, 229, 0.5) 3px 3px 0px;
	-moz-box-shadow:rgba(229, 229, 229, 0.5) 3px 3px 0px;
	box-shadow:rgba(229, 229, 229, 0.5) 3px 3px 0px;
	line-height:20px;
	text-align:left;
	color:#333;
	display:none;
	position:absolute;
	z-index:2
}
.tip-arrow {
	width:13px;
	height:7px;
	display:block;
	background-image:url(../images/huan/huan_tip.png);
	background-repeat:no-repeat;
	position:absolute;
	overflow:hidden;
	z-index:3;
	font-size:0
}

.dhbutton{ margin-top:15px}
.dhbutton button{ width:120px; border:none; height:35px;background:#FF5151; cursor:pointer; font-weight:bold; font-size:14px; color:#FFF; line-height:36px;}
.dhbutton button:hover{ width:120px; border:none; height:35px;background:#FF7575; cursor:pointer; font-weight:bold; font-size:14px; color:#FFF; line-height:36px;}
.dhbutton button.jifen{background:#02C874;}
.dhbutton button.jifen:hover{background:#02DF82;}
.jf_tright{
	width:280px; height:227px;
	padding-left:23px; padding-top:9px;margin-bottom:10px;
	float:left;
	margin-left:0px;BORDER-left: #c7c7c7 1px dashed;
}
.jf_tright .userinfo{background-color:#FFFFFF;
	width:262px; height:130px; padding-left:25px;padding-top:5px;
}
.jf_tright .userlogin{
	width:231px; height:90px;
	padding-top:12px; padding-left:31px;
}
.jf_tright .btn_login{
	width:122px; height:39px;
	float:left; _display:inline;
}
.jf_tright .btn_login a p{
	width:122px; height:39px;
	background:url(../images/huan/btns.gif);
	background-position:0px -177px;
	cursor:pointer;
}
.jf_tright .btn_login a:link p{
	background:url(../images/huan/btns.gif);
	background-position:0px -177px;
}
.jf_tright .btn_login a:visited p{
	background:url(../images/huan/btns.gif);
	background-position:0px -177px;
}
.jf_tright .btn_login a:hover p{
	background:url(../images/huan/btns.gif);
	background-position:-123px -177px;
}
.jf_tright .reg{
	width:58px; height:15px;
	float:left;
	margin-left:10px; margin-top:12px;
}
.jf_tright .logintxt{
	width:170px; height:35px;
	text-align:center; line-height:16px;
	color:#999999; font-size:12px;
	margin-top:15px;
}
.jf_tright .head{
	width:49px; height:49px;
	padding-left:1px; padding-top:1px;
	border:solid 1px #D6D6D6;
	float:left; _display:inline;
}
.jf_tright .user{
	width:170px;
	height:52px;
	line-height:24px;
	float:left;
	margin-left:10px;
	color:#999999;
}
.jf_tright .other{
	width:225px;
	height:32px;font-size:16px;
	margin-top:18px;
}
.jf_tright .my_score{
  font-size:16px;
}

.jf_tright .dh{
	width:75px; height:24px;
	float:left; _display:inline;
}
.jf_tright .dh p{
	width:75px; height:24px;
	background:url(../images/huan/tixian.jpg) no-repeat;
}
.jf_tright .dh a p{
	width:75px; height:24px;
	background:url(../images/huan/tixian.jpg) no-repeat;
	cursor:pointer;
}

.jf_tright .dh_sm{
	width:120px; height:18px;
	padding-top:2px;
	float:left; _display:inline;
	margin-left:10px;
	color:#999999;	
}
.jf_tright .line{ margin-left:25px;
	width:255px; height:10px;
	border-bottom:dashed 1px #e6e6e6;
}
.jf_tright .jpt{
	width:85px; height:15px;
	background-position:-295px 0px;
	color:#999999;
	font-weight:bold;
	margin-top:10px;
}
.jf_tright .jpimg{
	width:95px; height:60px;
	margin-top:8px;
	float:left; _display:inline;
}
.jf_tright .jptxt{
	width:130px; height:60px;
	float:left;
	margin-left:6px;
	margin-top:8px;
}
.jf_tright .jptxt .jptitle{
	width:130px;
	height:15px;
	color:#666666;
}
.jf_tright .jptxt .jpjf{
	width:130px;
	height:15px;
	margin-top:5px;
	color:#9E9E9E;
}
.jf_tright .jptxt .jplink{
	width:130px;
	height:15px;
	margin-top:5px;	
}
.sign_btn div{
  width:103px; height:46px;margin-left:6px;margin-top:12px; background-image:url(../images/huan/btn.png); background-repeat:no-repeat; background-position:0px -385px; float:left; cursor:pointer; text-align:center; font-size:14px; color:#FFFFFF; font-weight:bold;
}
.sign_btn:hover div{
  background-position:-103px -385px;
}
.get-score div { width:103px; height:46px;margin-left:25px;margin-top:20px;  line-height:46px; text-align:center; font-size:14px; color:#FFFFFF; font-weight:bold; }
.signin_day div{
  width:92px; height:46px;
  background:url(../images/huan/btns.gif) no-repeat;
  background-position:-184px -220px;
  margin-top:13px;
  float:left;
}

 .get-score-info{
  height:130px;
  width:98px;
  background-color:#FFFFFF;
  z-index:100;
  border:1px #DDDDDD solid;
  padding:5px;
  display:none;
  margin-top:-1px;
  position:absolute;
}

 .sign-state span{
  font-size:20px;
  color:#FF6633;
  font-weight:bold;
}

 .get-score-guize{
color:#999999; padding-top:5px; border-top:1px #EFEFEF solid; margin-top:5px;
  margin-bottom:5px;
  line-height:17px;
}


.mb_info{
  margin-left:20px;
  line-height:23px;margin-top:20px;
  float:left;
}

.ico_mb{
   background:url(../images/huan/btns.gif) no-repeat;
   background-position:0px -52px;
   width:16px; height:16px;
   float:left; margin-right:5px;
}
.ico_money{
   background:url(../images/huan/btns.gif) no-repeat;
   background-position:-16px -52px;
   width:16px; height:16px;
   float:left; margin-right:5px;
}

